@model assignment5.Models.Request

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AptName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AptName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Permission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Permission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubmissionTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmissionTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
