@model IEnumerable<assignment6.Models.ViewModels.PersonVM>

@{
    ViewBag.Title = "Details on Client";
}
<h2>@ViewBag.Title</h2>

@foreach (var person in Model)
{
    <div class="container">
        <h3>@Html.DisplayFor(modelItem => person.FullName)</h3>
        <hr />
        <p>Full name: @Html.DisplayFor(modelItem => person.FullName)</p>
        <p>Preferred name: @Html.DisplayFor(modelItem => person.PreferredName)</p>
        <p>Phone number: @Html.DisplayFor(modelItem => person.PhoneNumber)</p>
        <p>Fax number: @Html.DisplayFor(modelItem => person.FaxNumber)</p>
        <p>Email address: @Html.DisplayFor(modelItem => person.EmailAddress)</p>
        <p>Date started: @Html.DisplayFor(modelItem => person.ValidFrom)</p>
    </div>
}
