@model IEnumerable<assignment5.Models.Request>

@{
    ViewBag.Title = "List of Maintanence Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Maintanence Requests</h2>

<p>
    @Html.ActionLink("Create New", "Maintanence")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AptName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Permission)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmissionTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AptName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Permission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmissionTime)
            </td>
        </tr>
    }

</table>
