@model IEnumerable<assignment6.Models.ViewModels.PersonVM>

@{
    ViewBag.Title = "Details on Client";
}
<h2 align="center">@ViewBag.Title</h2>

@foreach (var person in Model)
{
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="detail_content">
                    <h3><b>@Html.DisplayFor(item => person.FullName)</b></h3>
                    <hr />
                    <p><b>Full name:</b> @Html.DisplayFor(item => person.FullName)</p>
                    <p><b>Preferred name:</b> @Html.DisplayFor(item => person.PreferredName)</p>
                    <p><b>Phone number:</b> @Html.DisplayFor(item => person.PhoneNumber)</p>
                    <p><b>Fax number:</b> @Html.DisplayFor(item => person.FaxNumber)</p>
                    <p><b>Email address:</b> @Html.DisplayFor(item => person.EmailAddress)</p>
                    <p><b>Member since:</b> @Html.DisplayFor(item => person.ValidFrom)</p>
                </div>
            </div>
            <div class="col-lg-6">
                <img src=" https://via.placeholder.com/250x350?text=Photo" />
            </div>
        </div>
    </div>
}
