
@{
    ViewBag.Title = "Create";
}
<!--razor Helper html method-->
@using (Html.BeginForm())
{
    <h2>Create a New Color</h2>
    <p>Please enter colors in HTML hexadecimal format: #AABBCC</p>
    <br />
    <!--Razor helper input for HTML-->
    <p><h5><b>First Color</b></h5></p>
    @Html.TextBox("firstColor", null, htmlAttributes: new { @class = "form-control", placeholder = "#ffffff", pattern = "#[0-9-Fa-f]{6}", required = "required" })
    <p><h5><b>Second Color</b></h5></p>
    @Html.TextBox("secondColor", null, htmlAttributes: new { @class = "form-control", placeholder = "#ffffff", pattern = "#[0-9-Fa-f]{6}", required = "required" })
    <br />
    <button class="btn btn-primary" type="submit">Mix Colors</button>
    <br /><br />
    <!--Adds the color squares to the page-->
    <div class="container">
        <div id="row">
            <div class="col-sm-2" style="@ViewBag.firstC"></div>
            <div class="col-sm-2" style="text-align: center; line-height: 80px; font-weight:300; font-size:28px; width: 80px; height: 80px;">@ViewBag.plus </div>
            <div class="col-sm-2" style="@ViewBag.secondC"></div>
            <div class="col-sm-2" style="text-align: center; line-height: 80px; font-weight:300; font-size:28px; width: 80px; height: 80px;">@ViewBag.equal </div>
            <div class="col-sm-2" style="@ViewBag.newC"></div>
        </div>
    </div>
}
